textarea {
    resize: none;
}

body.console {
    background-color: black;
}

textarea.console {
    width: 100%;
    background-color: #383838;
    color: #F0F0F0;
    font-size: 14px;
    font-family: Monaco, DejaVu Sans Mono, Bitstream Vera Sans Mono, Consolas, Courier New, monospace;

}

#output {
    height: 500px;
}

.upload {
    background-color: #383838;
    height: 30px;
    line-height: 30px;
    color: #F0F0F0;
    font-family: Monaco, DejaVu Sans Mono, Bitstream Vera Sans Mono, Consolas, Courier New, monospace;
}

.upload_input {
    height: 22px;
    width: 300px;
    margin: 5px;
    border: 1px solid #489cc8;
}

.upload_button {
    width: 65px;
    height: 26px;
    color: white;
    border: 0px;
}